{% extends 'base.html' %}

{% block content %}

<br>

{% if user.is_authenticated %}

<div style="text-align: left; margin-left: 20px;">

<h1> Add Journal Entry </h1>
<br/> 

Suggestions for your journal entry:

    1. Discuss how you feel and 
<div class = "form-group">
    <form method ="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary">Post</button>
</div>

</div>
 
{% else %}

You are not logged in. Log in to add blog posts. 

{% endif %}

{% endblock %}