{% extends 'base.html' %}


{% block content %}



<br>

<div style="text-align: left; margin-left: 20px;">

<h1> Resources </h1>

<hr> 
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Meditation </h5>
      <h6 class="card-subtitle mb-2 text-muted">Breathing, Binaural Beats, Frequencies </h6>
      <p class="card-text"> If you were referred to meditate, please click these links </p>
      <a href="https://www.youtube.com/watch?v=1vx8iUvfyCY" class="card-link">Detachment from Overstimulation</a>
      <a href="https://www.youtube.com/watch?v=GXeAOtb1VeA&t=605s" class="card-link">Binaural Beats</a>
    </div>
  </div>
</div>

{% endblock %} 